nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
	a.navbar-brand(href="/") Proxy Notes API
	.collapse.navbar-collapse
		.navbar-nav
			a.nav-item.nav-link(href="/") Sign up
			a.nav-item.nav-link(href="/signin") Sign in
			a.nav-item.nav-link(href="/forgot") Forgot password