nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
	a.navbar-brand(href="/") Proxy Notes API - Abhishek Kasireddy
	.collapse.navbar-collapse
		.navbar-nav
			a.nav-item.nav-link(href="/api") Sign in
			a.nav-item.nav-link(href="/api/signup") Sign up
			a.nav-item.nav-link(href="/api/forgot") Forgot password
			button#signoutBtn.btn.btn-danger.nav-item.nav-link(type="submit") Sign out