extends _layout

block body-pack
	.container.mt-5.mb-5
		.row
			.col
				h3 Upload a video
				form(action="/api/media/upload" method="POST" enctype="multipart/form-data")
					.form-group
						input.form-control(type="text" placeholder="File name" name="name")
					.form-group
						input.form-control-file(type="file" name="video") 
					button.btn.btn-primary(type="submit") Upload

		.row
			.col
				each video in videos
					p=video.name
					- var src = '/static/videos/' + video.path.split('/').pop();
					video(src=src type="video/mp4" controls width="500")