extends _layout

block head-pack
	style.
		body {
			background-color: whitesmoke;
		}

block body-pack
	.container.text-center.mt-5
		.row
			.col-md-4
			.col-md-4
				h1.mb-5.mt-5 Proxy Notes API
				form.mb-5.form-signin(action="/api/auth/signup" method="POST")
					h3.mb-3.font-weight-normal Sign Up
					.form-group
						label.sr-only(for="username")
						input#username.form-control(name="username" type="email" placeholder="Email")
					.form-group
						label.sr-only(for="password")
						input#password.form-control(name="password" type="password" placeholder="Password")
					.form-group
						label.sr-only(for="retypePass")
						input#retypePass.form-control(type="password" placeholder="Re-type password")
					button.btn.btn-primary(type="submit") Sign up
			.col-md-4

block extra-scripts
	script(src="/js/signup.js" type="text/javascript")